.classes {
  padding-top: 136px;
  padding-bottom: 80px;
  &__title {
    margin-bottom: 33px;
  }
  &__podlozka {
    background-color: #f8f8f8;
    height: 70px;
    border-radius: 50px;
    width: 500px;
    padding: 7px;
    margin-bottom: 40px;
  }
}
.active-button {
  border-radius: 50px;
  background-color: #8d30b9;
  padding: 18px 30px;
  color: #f8f8f8;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
}
.inactive-button {
  background-color: transparent;
  padding: 18px 30px;
  color: #8d30b9;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
}
.classes-row {
  gap: 20px;
  display: flex;
  // flex-direction: column;
}
.classes-col {
  gap: 20px;
  display: flex;
  flex-direction: column;
}
.classes-col__wrapper {
  display: flex;
  gap: 20px;
}
.classes-col__btn {
  border-radius: 60px;
  border: 2px solid #8d30b9;
  background: #8d30b9;
  width: 300px;
  height: 70px;
  padding: 15px 30px;
  color: #fff;
  text-align: center;
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 700;
}
